build:
  image: node:15
  stage: build
  script:
    - npm i node-sass --save-dev
    - node-sass --include-path assets/css --output-style compressed assets/css/style.scss --output assets/css
  artifacts:
    expire_in: 1 week
    paths:
      - /

deploy-dev:
  image: alpine:latest
  stage: deploy
  script:
    - apk add --no-cache rsync openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - rsync -rav --delete-after -e "ssh -o \"UserKnownHostsFile=/dev/null\" -o \"StrictHostKeyChecking=no\"" / gitlab@10.183.148.183:www/organization
