build:
  image: node:16
  stage: build
  script:
    - npm i -g sass
    - sass --load-path assets/css --no-source-map --style compressed assets/css/style.scss assets/css/style.css
  artifacts:
    expire_in: 1 week
    paths:
      - index.html
      - report
      - assets
      - js

deploy-dev:
  image: alpine:latest
  stage: deploy
  script:
    - apk add --no-cache rsync openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - rsync -rav --delete-after -e "ssh -o \"UserKnownHostsFile=/dev/null\" -o \"StrictHostKeyChecking=no\"" / gitlab@10.183.148.183:www/organization
